<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coding.toast.playground.user.UserMapper">

    <delete id="delete">
        delete
        from coding_toast.users
        where id = #{id}
    </delete>

    <select id="list" resultType="User">
        select id, name, phone_number
        from coding_toast.users
    </select>

    <select id="select" parameterType="long" resultType="User">
        select * from coding_toast.users
        where id = #{id}
    </select>

    <select id="search" parameterType="User" resultType="User">
        <bind name="name" value="@coding.toast.playground.util.EscapeHelper@escape(name)"/>
        select * from coding_toast.users
        <where>
            <if test="@org.springframework.util.StringUtils@hasText(name)">
                name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>

    <insert id="insert">
        insert into coding_toast.users (id, name, phone_number)
        values (default, #{name}, #{phoneNumber});
    </insert>

</mapper>